{{> head }}
{{> navbar }}

<div class="container my-5">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-md-8">
            <h1>Spider Man</h1>
            <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolores fuga aperiam, error soluta
                repudiandae aut possimus. Dolorem minima soluta laborum fuga iure, sunt dicta laboriosam, quo ut
                necessitatibus repellendus consequuntur id impedit reprehenderit! Iusto, eaque veritatis ab molestias
                ullam ad esse dolorem rem autem veniam optio ducimus quasi eos. Dolorem minima soluta laborum fuga iure,
                sunt dicta laboriosam, quo ut
                necessitatibus repellendus consequuntur id impedit reprehenderit! Iusto, eaque veritatis ab molestias
                ullam ad esse dolorem rem autem veniam optio ducimus quasi eos</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/spiderman.png" alt="" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}